<div id="community">
  <div id="charities" class="body-box" style="width: 100%;">
    <div class="charity">
      <p class="charity_name">Action Medical Research</p>
      <p class="charity_amount">€2,562</p>
      <p class="charity_desc">
        Action Medical Research began in 1952 as the National Fund for Poliomyelitis Research, with the aim of stopping the feared polio virus.
      </p>
      <%= image_tag 'charity/action.png' %>
    </div>

    <div class="charity">
      <p class="charity_name">Water Aid</p>
      <p class="charity_amount">€1,798</p>
      <p class="charity_desc">
        We transform lives by improving access to safe water, hygiene and sanitation in the world’s poorest communities since 1984.
      </p>
      <%= image_tag 'charity/water_aid.png' %>
    </div>

    <div class="charity">
      <p class="charity_name">Mary’s Meals</p>
      <p class="charity_amount">€1,263</p>
      <p class="charity_desc">
        Mary’s Meals began in 2002 as a one-off school feeding programme. Today we provide daily life changing meals to over 989,000 hungry children.
      </p>
      <%= image_tag 'charity/marys_meals.png' %>
    </div>

    <div class="charity">
      <p class="charity_name">Simon Community</p>
      <p class="charity_amount">€806</p>
      <p class="charity_desc">
        Simon Community Northern Ireland is your local homelessness charity. We work hard to ensure that anyone who is homeless or at risk of losing their home gets the support they need.
      </p>
      <%= image_tag 'charity/simon_community.png' %>
    </div>

    <div class="charity">
      <p class="charity_name">Assisi Animal Sanctuary</p>
      <p class="charity_amount"> €132 </p>
      <p class="charity_desc">
        Assisi Animal Sanctuary is Northern Ireland's largest independent animal welfare charity providing shelter for up to 200 companion animals - cats, dogs and rabbits.
      </p>
      <%= image_tag 'charity/assisi.png' %>
    </div>
  </div>

</div>