<!--h1>Dashboard</h1-->

<div id="dashboard">

  <div id="my-savings" class="body-box">
    <div id="my-savings-stats">
      <p>My savings</p>
      <p>
        <%= link_to "£#{'%.2f' % (@savings / 100.0)}", decide_path %>
      </p>

      <!--p style="font-weight: bold;font-size: 2.5em;">&pound;<%= "#{'%.2f' % (@savings / 100.0)}" %></p-->
      <p>in <%= @days %> Days</p>
    </div>

    <div id="chart" style="width: 210px; height: 160px; margin: 0 auto"></div>
  </div>

  <div id="dashboard-transactions" class="body-box">
    <%= render 'transactions/transactions_list' %>
  </div>
</div>

<script>
    $(function () {
        $('#chart').highcharts({
            chart: {
                type: 'spline'
            },
            title: {
                text: ''
            },
            subtitle: {
                //text: "How many pennies I've saved",
                x: -20
            },
            xAxis: {
                labels: {
                    enabled: false
                }
                //categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                //    'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
            },
            yAxis: {
                title: {
                    text: ''
                },
                min: 0
                //plotLines: [{
                //    value: 0,
                //    width: 1,
                //    color: '#808080'
                //}]
            },
            tooltip: {
                //valueSuffix: '°C'
            },
            legend: {
                enabled: false
            },
            plotOptions: {
                spline: {
                    marker: {
                        enabled: false
                    }
                }
            },
            series: [{
                name: 'Pennies',
                data: [<%= @chart_data.join(', ') %>]
                //data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
            }]
        });
    });
</script>
