<!--h1>Settings</h1-->

<div id="user-settings">
  <form id="user-settings-form">

    <div id="active">
      <input type="radio" id="active-1" name="active" value="1" checked>
      <label id="active-1-label" for="active-1">On</label>
      <input type="radio" id="active-2" name="active" value="0" >
      <label id="active-2-label" for="active-2">Off</label>
    </div>

    <div>
      <input type="radio" id="scheme-1" name="scheme" value="1" checked>
      <label id="scheme-1-label" for="scheme-1">Round up</label>
    </div>
    <div>
      <input type="radio" id="scheme-2" name="scheme" value="2" >
      <label for="scheme-2" id="scheme-2-label">Percentage of sale</label>
    </div>
    <div>
      <input type="radio" id="scheme-3" name="scheme" value="3" >
      <label for="scheme-3" id="scheme-3-label">Fixed amount</label>
    </div>

    <div id="value-field">
      <label for="value" id="value-label">Round up to &pound;1, &pound;5 or &pound;10</label><br>
      <input type="number" value="10" min="0">
      <!--div id="value-description">
        Round your My Pennies transaction up to the nearest £1, £5 or £10.
      </div-->
    </div>
  </form>
</div>



<script type="text/javascript">

    $(function() {
        $("#active").buttonset();
    });


    $("#scheme-1").click(function() {
        $('#value-label').html('Round up to &pound;1, &pound;5 or &pound;10');
    });

    $("#scheme-1-label").click(function() {
        $('#value-label').html('Round up to &pound;1, &pound;5 or &pound;10');
    });

    $("#scheme-2-label").click(function() {
        $('#value-label').html('1% to 10%');
    });

    $("#scheme-2").click(function() {
        $('#value-label').html('1% to 10%');
    });

    $("#scheme-3-label").click(function() {
        $('#value-label').html('Number of pennies');
    });

    $("#scheme-3").click(function() {
        $('#value-label').html('Number of pennies');
    });

</script>