<div id="register-form">
  <h2>Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <!--div class="form-inputs">
        <%#= f.input :email, required: true, autofocus: true %>
        <%#= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>
        <%#= f.input :password_confirmation, required: true %>
      </div-->

      <div class="field svg-textbox">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, placeholder: 'Email address', tabindex: 1 %>
        <svg id="svg-user" class="svg-icon" width="512" height="512" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000">
          <path d="M 311.413,351.368c-11.055-1.759-11.307-32.157-11.307-32.157s 32.484-32.158, 39.564-75.401 c 19.045,0.00, 30.809-45.973, 11.761-62.148C 352.226,164.635, 375.911,48.00, 256.00,48.00c-119.911,0.00-96.225,116.635-95.432,133.662 c-19.047,16.175-7.285,62.148, 11.761,62.148c 7.079,43.243, 39.564,75.401, 39.564,75.401s-0.252,30.398-11.307,32.157 C 164.976,357.034, 32.00,415.685, 32.00,480.00l 224.00,0.00 l 224.00,0.00 C 480.00,415.685, 347.024,357.034, 311.413,351.368z"></path>
        </svg>
      </div>

      <div class="field svg-textbox">
        <%= f.label :password %>
        <% if @validatable %>
            <!--em>(<%= @minimum_password_length %> characters minimum)</em-->
        <% end %>
        <%= f.password_field :password, autocomplete: 'off', placeholder: 'Password', tabindex: 2 %>
        <svg id="svg-password" class="svg-icon" width="512" height="512" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000">
          <path d="M 416.00,224.00l-32.00,0.00 l0.00-96.00 C 384.00,57.308, 326.692,0.00, 256.00,0.00c-70.692,0.00-128.00,57.308-128.00,128.00l0.00,96.00 L 96.00,224.00 c-17.60,0.00-32.00,14.40-32.00,32.00l0.00,224.00 c0.00,17.60, 14.40,32.00, 32.00,32.00l 320.00,0.00 c 17.60,0.00, 32.00-14.40, 32.00-32.00L 448.00,256.00 C 448.00,238.40, 433.60,224.00, 416.00,224.00z M 256.00,416.00c-17.673,0.00-32.00-14.327-32.00-32.00 s 14.327-32.00, 32.00-32.00s 32.00,14.327, 32.00,32.00S 273.673,416.00, 256.00,416.00z M 320.00,224.00L 192.00,224.00 l0.00-96.00 c0.00-35.29, 28.71-64.00, 64.00-64.00s 64.00,28.71, 64.00,64.00L 320.00,224.00 z"></path>
        </svg>
      </div>

      <div class="field svg-textbox">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: 'off', placeholder: 'Confirm password', tabindex: 3 %>
        <svg id="svg-password" class="svg-icon" width="512" height="512" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000">
          <path d="M 416.00,224.00l-32.00,0.00 l0.00-96.00 C 384.00,57.308, 326.692,0.00, 256.00,0.00c-70.692,0.00-128.00,57.308-128.00,128.00l0.00,96.00 L 96.00,224.00 c-17.60,0.00-32.00,14.40-32.00,32.00l0.00,224.00 c0.00,17.60, 14.40,32.00, 32.00,32.00l 320.00,0.00 c 17.60,0.00, 32.00-14.40, 32.00-32.00L 448.00,256.00 C 448.00,238.40, 433.60,224.00, 416.00,224.00z M 256.00,416.00c-17.673,0.00-32.00-14.327-32.00-32.00 s 14.327-32.00, 32.00-32.00s 32.00,14.327, 32.00,32.00S 273.673,416.00, 256.00,416.00z M 320.00,224.00L 192.00,224.00 l0.00-96.00 c0.00-35.29, 28.71-64.00, 64.00-64.00s 64.00,28.71, 64.00,64.00L 320.00,224.00 z"></path>
        </svg>
      </div>

      <div class="options">
        <%#= render 'devise/shared/links' %>
        <%= link_to 'Already have<br>an account?'.html_safe, new_session_path(resource_name) %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, 'Sign up' %>
      </div>
  <% end %>

  <%#= render 'devise/shared/links' %>
</div>