<img id="logo" src="<%= image_path('logo.png') %>" >

<div class="about">
  <h2>What is this about?</h2>
  <p>An easy and swift way for you save your small change to help you build that nest egg for any special occasions & lifetime events, or to just help someone else in need by supporting a charitable cause.</p>
</div>

<div class="works">
  <h2>How does it work?</h2>
  <p>You save as you spend through your card by simply rounding up that loose change from your payment to the nearest £1, £5 or £10 and depositing it into a Savings account that meets your needs. You can even set yourself your own savings goals be and we will let you know when you reach them. </p>
</div>

<div class="Background">
  <h2>Background </h2>
  <p>UK economy is emerging from recession with consumer confidence starting to return with increases in spending. However, UK Saving habits have not improved with household savings rates dropped from 7.3% in 2012 to 4.9% in 2014. UK consumers financial resilience still remains fragile with 4/10 concerned about an unexpected expense and 1/2 concerned about their level of Savings. 1 in 4 UK households are not saving at all. Consumer spending via card purchases has continued to see an increasing trend with 75% of Retail purchases in 2014 done by Debit Card. Additional the Average Transactional Value (ATV) has decreased from £50 in 2011 to £46.75 in 2014. This has been attributed to continuing migration of low value cash payments to cards and the introduction of contactless payments which has seen greater uptake in the Retail Market.</p>
</div>