// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

#dashboard {


  #my-savings {
    position: relative;
    display: block;
    margin: auto;
    margin-top: 28px;
    width: 450px;
    height: 180px;

    #my-savings-stats {
      position: absolute;
      top: 16px;
      left: 12px;
      width: 225px;

      text-align: center;
      p {
        font-size: 1.5em;
        line-height: 24pt;
        background-color: inherit;
        margin-bottom: 28px;
      }

      a {
        font-size: 2.5em;
        font-weight: bold;
      }
    }

    #chart {
      position: absolute;
      top: 12px;
      right: 28px;
    }
  }

  #my-savings-1 {
    display: block;
    margin: auto;
    width: 400px;
    height: 55px;
    background-color: #f2f8fc;
    color: darken(#f2f8fc, 20);
    border: 1px solid darken(#f2f8fc, 10);
    border-radius: 5px;
    font-size: 28px;
    text-align: center;
    padding-top: 12px;
    margin-bottom: 38px;
  }
}

#decide {
  position: relative;

  #last-month-saved {
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: 1.75em;

    p {
      background-color: inherit;
    }
  }

  #decision-links {
    display: block;
    margin-top: 54px;

    .body-box {
      width: 150px;
      text-align: center;
      display: block;
      margin-bottom: 48px;
    }
  }

  #decision-descriptions {
    position: absolute;
    top: 100px;
    right: 0;
    width: 640px;

    #saving-goals {

      .goal {
        position: relative;
        height: 150px;
        padding: 12px;
        border-bottom: 1px solid silver;
      }

      img {
        width: 150px;
        position: absolute;
        top: 8px;
        right: 0;
      }
    }

    #charities {

      p {
        background-color: inherit;
      }

      .charity {
        position: relative;
        width: 100%;
        height: 100px;
        padding: 10px;
        border-bottom: 1px solid silver;
      }

      .charity_name {
        font-weight: bold;
      }

      .charity_amount {
        display: none;
      }

      .charity_desc {
        padding: 8px;
        font-style: italic;
        font-size: 0.85em;
        width: 50%;
      }

      img {
        position: absolute;
        top: 8px;
        right: 22px;
      }
    }
  }


}

#community {
  width: 700px;

  .tile {
    width: 200px;
    height: 200px;
    display: inline-block;
    text-align: center;
  }

  #charities {
    p {
      background-color: inherit;
    }

    .charity {
      position: relative;
      width: 100%;
      height: 100px;
      padding: 10px;
      border-bottom: 1px solid silver;
    }

    .charity_name {
      font-weight: bold;
    }

    .charity_amount {
      font-size: 1.6em;
    }

    .charity_desc {
      padding: 8px;
      font-style: italic;
      font-size: 0.85em;
      width: 50%;
    }

    img {
      position: absolute;
      top: 8px;
      right: 22px;
    }

  }
}

#user-settings {
  position: relative;
  display: block;
  width: 800px;
  margin: auto;

  #value-field {
    position: absolute;
    top: 62px;
    left: 300px;
  }

  label {
    padding: 4px;
  }

  div {
    padding: 24px;
  }

  input[type=number] {
    margin: 8px;
    padding: 6px;
    border: 1px solid silver;
  }
}