#login-form, #register-form, #edit-authorization-form {
  $login-form-width: 350px;
  width: $login-form-width;
  margin: auto;
  padding: 8px 0 18px 0;
  border: 1px solid #FFFFFF;

  h2 {
    text-align: center;
    margin: 36px 0 24px 0;
  }

  .svg-textbox {
    position: relative;
    margin: 8px 15px 18px 15px;
    padding: 8px;
    border: 1px solid $text-box-border-color;
    border-radius: 3px;

    label {
      display: none;
    }

    input[type=text], [type=email], input[type=password] {
      border: none;
      outline: none;
      width: $login-form-width - 85px;
    }

    .svg-icon {
      width: 24px;
      height: 24px;
      fill: $text-box-border-color;
      position: absolute;
      top: 10px;
      right: 12px;
    }

    &:hover {
      border: 1px solid darken($text-box-border-color, 15%);
      transition-duration: 0.25s;
    }
  }

  input[type=submit] {
    height: 40px;
    margin-left: 15px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background-color: #55acee;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.05));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#0C000000)";
    border: 1px solid #3b88c3;
    outline: none;
  }

  .options {
    float: right;
    width: 40%;
    margin-right: 15px;
    text-align: right;

    p {
      margin-bottom: 5px;
      font-size: 9pt;
    }

    label {
      color: $text-box-border-color;
      font-size: 9pt;

      &:hover {
        color: darken($text-box-border-color, 15%);
        transition-duration: 0.25s;
      }
    }

    a {
      color: $text-box-border-color;
      transition-duration: 0.25s;

      &:hover {
        color: darken($text-box-border-color, 15%);
      }
    }
  }
}

#login-form, #register-form
{
  input[type=submit] {
    width: 40%;

    &:hover, &:focus {
      margin: -2px 0 2px 13px;
      box-shadow: 2px 2px 5px #888888;
    }
  }
}

#edit-authorization-form {
  $login-form-width: 350px;

  input[type=submit] {
    width: ($login-form-width / 2);
    margin-left: ($login-form-width / 4);
  }

  label::after {
    content: ':';
  }

  hr {
    margin: 68px 0 28px 0;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  }

  h3 {
    text-align: center;
    margin-bottom: 18px;
  }
}