form.simple_form {

  div.field_with_errors {
    input {
      background-color: #FFE4E1;
    }
  }

  .field_with_errors {
    background-color: #FFFFFF;
  }

  label {
    display: block;
    padding: 12px 0 5px 0;
  }

  span.error {
    display: inline-block;
    padding-left: 18px;
    color: darkred;
  }

  input[type=text], textarea {
    margin: 0 0 9px 9px;
    padding: 6px 12px;
  }

  input[type=submit] {
    padding: 3px 12px;
    font-size: 16px;
    color: #fff;
    background-color: #55acee;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.05));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#0C000000)";
    border: 1px solid #3b88c3;
    outline: none;
  }

  .collection_radio_buttons {
    display: inline-block;
    padding: 2px 8px;
  }
}