@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);

* {
  margin: 0;
  padding: 0;
}

body, p, ol, ul, td, input, textarea, button, label {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 11pt;
  background-color: #f1f1f1;
}

body, p, ol, ul, td, label {
  color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Tahoma', 'OpenSans', 'Helvetica', 'Arial', 'sans-serif';
  color: $h-color;
  margin: 12px 0 3px 0;
}

a {
  text-decoration: none;
  color: #2E8B57;

  &:hover {
    color: #8B4513;
    transition-duration: 0.45s;
  }
}

input[type=text], [type=email], input[type=password], textarea {
  color: #333;
  font-size: 16px;
  padding: 3px 0 3px 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

input[type=submit] {
  border-radius: 3px;
  border: 1px solid #ccc;
}

#flash {
  text-align: center;

  .alert {
    color: $h-color;
  }

  .notice {
    color: #003399;
  }
}




.field_with_errors {
  padding: 2px;
  background-color: red;
  display: inline-block;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width : 100%;
  background-color: #f5f5f5;;
  border-bottom: 1px solid #a7a7a7;
  box-shadow: 0 1px 5px 2px rgba(0,0,0,0.25);
  box-shadow: 0 1px 5px 2px rgba(0,0,0,0.25);
  height: 48px;

  #branding {
    position: absolute;
    top: 6px;
    left: 6px;

    a {
      font-family: 'Poiret One', cursive;
      font-size: 28px;
      padding: 4px 16px;
    }

    img {

    }
  }

  #section-links {
    position: absolute;
    bottom: 8px;
    left: 300px;
    font-size: 10pt;
    text-align: center;

    a {
      display: inline-block;
      margin-top: -8px;
      padding: 0 12px;
      font-weight: bold;

      &:hover {
        color: brown;
      }
    }
  }

  #auth-links {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 10pt;

    a {
      margin-top: 6px;
      padding: 6px 10px;
      color: #222;
      text-shadow: 0 1px #e0e0e0;
      background-color: #b3b7ba;
      background: -webkit-linear-gradient(bottom,#efefef 0,#bfbfbf 20%,#f0f0f0 100%);
      background: linear-gradient(#efefef, #f0f0f0);
      border: 1px solid silver;
      border-radius: 4px;

      &:hover {
        background: -webkit-linear-gradient(bottom,#bfbfbf 0,#bfbfbf 20%,#e0e0e0 100%);
      }
    }

    .email {
      font-size: 8pt;
    }
  }
}



#body-content {
  width: 850px;
  margin: auto;
  margin-top: 60px;
}

.body-box {
  background-color: #ffffff;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.25);
  border-radius: 5px;
  margin-top: 18px;
  padding: 8px;
}
