// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home-content {
  max-width: 800px;
  margin: auto;
  position: relative;

  #strap-line {
    position: absolute;
    top: 18px;
    right: 0;
  }

  #dashboard-link {
    margin: auto;
    margin-top: 123px;
    font-size: 1.8em;
    display: block;
    width: 275px;
    padding: 18px 0 18px 0;
    border: 1px solid black;
    text-align: center;
    border-radius: 8px;
    color: $h-color;
    transition-duration: 0.25s;

    &:hover {
      color: #FFFFFF;
      background-color: $h-color;
    }
  }
}