// Place all the styles related to the Transactions controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

#transactions-list {

  .transaction {

    padding: 6px;
    border-bottom: 1px solid #eee;
    line-height: 40px;

    .credit {
      color: #000080;
    }

    .debit {
      color: #6e000d;
    }

    .saving-pennies {
      background-color: #FFE4E1;
      background: linear-gradient(#efefef, #FFE4E1);
    }

    .time, .name, .type, .amount {
      display: inline-block;
    }

    .time {
      width: 110px;
    }

    .type {
      width: 200px;
      font-size: 0.85em;
      font-style: italic;
    }

    .name {
      width: 200px;
    }

    .amount {
      width: 100px;
      text-align: right;
    }

    &:hover {
      background-color: #f9f9f4;
    }
  }
}