<%= simple_form_for(@transaction) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%#= f.collection_radio_buttons :transaction_type, [[0, 'Debit'], [1, 'Credit']], :first, :last, checked: @transaction.transaction_type %>
    <%= f.input :time %>
    <%= f.input :name %>
    <%= f.input :amount %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
