<div id="transactions-list">

  <div>
    <%= form_tag(dashboard_path, :method => 'get') do %>
        Transactions from &nbsp; <%= text_field_tag(:date_1, @date_1.strftime('%Y-%m-%d')) %> &nbsp; until &nbsp; <%= text_field_tag(:date_2, @date_2.strftime('%Y-%m-%d')) %>
        <%= submit_tag('Search') %>
    <% end %>
    </form>

  </div>
  <% @transactions.each do |transaction| %>
      <%
         transaction_class = ['transaction']
         transaction_class << 'debit' if transaction.debit?
         transaction_class << 'credit' if transaction.credit?
      %>
      <div class="<%= transaction_class.join(' ') %>">
        <div class="time"><%= transaction.time.strftime('%d %b %y') %></div>
        <div class="name"><%= transaction.name %></div>
        <div class="type"><%= transaction.transaction_type %></div>
        <div class="amount <%= transaction.credit? ? 'credit' : 'debit' %>"><%= "#{'%.2f' % (transaction.amount / 100.0)}" %></div>
        <% if transaction.debit_card_transaction? %>
            <div class="saving-pennies">
              <div class="time"><%#= transaction.time.strftime('%d %b %y') %></div>
              <div class="name"></div>
              <div class="type" style="font-weight: bold;">Digital Loose Change</div>
              <div class="amount <%= transaction.credit? ? 'credit' : 'debit' %>"><%= "#{'%.2f' % (transaction.saving_amount / 100.0)}" %></div>
            </div>

        <% end %>
      </div>
  <% end %>

  <script>
      $(function() {
          $("#date_1").datepicker({ dateFormat: "yy-mm-dd" });
          $("#date_2").datepicker({ dateFormat: "yy-mm-dd" });
      });
  </script>
</div>