<!DOCTYPE html>
<html>
<head>
  <title>Digital Loose Change</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <div id="branding">
    <%= link_to 'Digital Loose Change', dashboard_path, id: 'logo-home-link' %>
  </div>
  <nav id="auth-links">
    <% if user_signed_in? -%>
        <span class="email"><%= current_user.email %></span> &nbsp;
        <%= link_to 'Logout', destroy_user_session_path, :method => :delete, :confirm => 'Are you sure you want to log out?' %>
    <% else -%>
        <%#= link_to "Sign up", new_user_registration_path %>
        <%= link_to (t 'devise.fields.login'), new_user_session_path %>
    <% end -%>
  </nav>
  <nav id="section-links">
    <%= link_to 'Home', dashboard_path %> |
    <%= link_to 'Decide', decide_path %> |
    <%= link_to 'Goals', community_path %> |
    <%= link_to 'Community', community_path %> |
    <%= link_to 'Settings', settings_path %>
  </nav>
  <!--div id="flash">
    <p id="notice" class="notice"><%= notice %></p>
    <p id="alert" class="alert"><%= alert %></p>
  </div-->
</header>


<div id="body-content">
  <div id="<%= controller_name %>">
    <%= yield %>
  </div>
</div>

</body>
</html>
