<!DOCTYPE html>
<html>
<head>
  <title>Pennies Further</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <nav id="auth-links">
    <% if user_signed_in? -%>
        <span class="email"><%= current_user.email %></span> &nbsp;
        <%= link_to 'Logout', destroy_user_session_path, :method => :delete, :confirm => 'Are you sure you want to log out?' %>
    <% else -%>
        <%#= link_to "Sign up", new_user_registration_path %>
        <%= link_to (t 'devise.fields.login'), new_user_session_path %>
    <% end -%>
  </nav>
</header>

<div id="body-content">
  <div id="<%= controller_name %>">
    <%= yield %>
  </div>
</div>

</body>
</html>
